@font-face {
  font-family: "Kanit Medium";
  src: url("../../../fonts/Kanit/Kanit-Medium.ttf");
}

@font-face {
  font-family: "Kanit Semi Bold";
  src: url("../../../fonts/Kanit/Kanit-SemiBold.ttf");
}

@font-face {
  font-family: "Kanit Bold";
  src: url("../../../fonts/Kanit/Kanit-Bold.ttf");
}

@font-face {
  font-family: "Kanit Extra Bold";
  src: url("../../../fonts/Kanit/Kanit-ExtraBold.ttf");
}

@font-face {
  font-family: "Kanit Black";
  src: url("../../../fonts/Kanit/Kanit-Black.ttf");
}

@font-face {
  font-family: "Martel Sans Regular";
  src: url("../../../fonts/Martel_Sans/MartelSans-Regular.ttf");
}

@font-face {
  font-family: "Martel Sans Semi Bold";
  src: url("../../../fonts/Martel_Sans/MartelSans-SemiBold.ttf");
}

.login_signup_box {
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
}

.login_signup_box .login_signup_row .login_signup_side {
  height: 100vh;
}

.login_signup_box .login_signup_row .login_signup_L .login_signup_bg {
  width: 100%;
  height: 100%;
}

.login_signup_box .login_signup_row .login_signup_L .login_signup_bg .bg {
  background-size: cover;
  background-position: 60% 0%;
  background-repeat: no-repeat;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.login_signup_box .login_signup_row .login_signup_R {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .logo {
  display: inline-block;
  cursor: default;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .logo span {
  font-family: "Kanit Extra Bold";
  font-size: clamp(1.2rem, calc(0.65rem + 2.75vw), 3.25rem);
  color: #f05454;
  text-transform: uppercase;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .logo span::-moz-selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .logo span::selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .logo span::-moz-selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid #ff5722;
  cursor: pointer;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link:hover {
  background-color: #ff5722;
  border-color: #ff5722;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link:hover .icon {
  color: #eeeeee;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link .icon {
  font-size: 23px;
  color: #ff5722;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .signup_hint,
.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_hint {
  font-family: "Martel Sans Semi Bold";
  display: none;
  margin-top: 50px;
  color: #ff5722;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .signup_hint span,
.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_hint span {
  text-transform: none;
  color: #303841;
  margin-left: 10px;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .signup_hint span::-moz-selection,
.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_hint span::-moz-selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .signup_hint span::selection,
.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_hint span::selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .signup_hint span::-moz-selection,
.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_hint span::-moz-selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder {
  max-width: 45%;
  width: 100%;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder h2 {
  font-family: "Kanit Medium";
  font-size: 25px;
  text-transform: uppercase;
  opacity: 0.7;
  cursor: default;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder h2::-moz-selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder h2::selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder h2::-moz-selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form {
  display: block;
  margin-top: 30px;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set {
  display: -ms-grid;
  display: grid;
  margin-bottom: 30px;
  max-width: 700px;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set label {
  font-family: "Martel Sans Semi Bold";
  font-size: 15px;
  opacity: 0.8;
  text-transform: uppercase;
  cursor: pointer;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set label::-moz-selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set label::selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set label::-moz-selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set input {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: ghostwhite !important;
  -webkit-box-shadow: 0 0 0 50px ghostwhite inset;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Martel Sans Semi Bold";
  font-size: 14px;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set input::-moz-selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set input::selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set input::-moz-selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set input::-webkit-input-placeholder {
  position: relative;
  top: 1.5px;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set input:-ms-input-placeholder {
  position: relative;
  top: 1.5px;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set input::-ms-input-placeholder {
  position: relative;
  top: 1.5px;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set input::placeholder {
  position: relative;
  top: 1.5px;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets .form_set {
  width: 100%;
  max-width: 48%;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 170px;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit {
  border: 2px solid #ff5722;
  font-family: "Martel Sans Semi Bold";
  padding: 10px;
  color: #ff5722;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit:hover {
  background-color: #ff5722;
  color: #eeeeee;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit span {
  position: relative;
  top: 2.5px;
  text-transform: uppercase;
  font-size: 16px;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit span::-moz-selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit span::selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit span::-moz-selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset {
  border: 2px solid #303841;
  font-family: "Martel Sans Semi Bold";
  padding: 10px;
  color: #303841;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset:hover {
  background-color: #303841;
  color: #eeeeee;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset span {
  position: relative;
  top: 2.5px;
  text-transform: uppercase;
  font-size: 16px;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset span::-moz-selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset span::selection {
  color: #eeeeee;
  background-color: #f05454;
}

.login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset span::-moz-selection {
  color: #eeeeee;
  background-color: #f05454;
}

@media all and (max-width: 1995px) {
  .login_signup_box .login_signup_row .login_signup_L {
    max-width: 20%;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R {
    max-width: 80%;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder {
    max-width: 45%;
    margin-top: 50px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form {
    max-width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set label {
    font-size: 15px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set input {
    font-size: 14px;
  }
}

@media all and (max-width: 991px) {
  .login_signup_box .login_signup_row .login_signup_side {
    height: 100vh;
  }
  .login_signup_box .login_signup_row .login_signup_L {
    max-width: 0%;
    width: 100%;
    display: none;
  }
  .login_signup_box .login_signup_row .login_signup_R {
    max-width: 100%;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .signup_hint,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_hint {
    font-size: 14px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .signup_hint span,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_hint span {
    margin-left: 0;
    margin-top: 10px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder {
    max-width: 45%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form {
    max-width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set input {
    font-size: 13px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets {
    max-width: 100%;
    display: block;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets .form_set {
    max-width: 100%;
  }
}

@media all and (max-width: 768px) {
  .login_signup_box .login_signup_row .login_signup_side {
    height: 115vh;
  }
  .login_signup_box .login_signup_row .login_signup_L {
    max-width: 0%;
    width: 100%;
    display: none;
  }
  .login_signup_box .login_signup_row .login_signup_R {
    max-width: 100%;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .signup_hint,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_hint {
    font-size: 14px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .signup_hint span,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_hint span {
    margin-left: 0px;
    margin-top: 0px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .logo span {
    font-size: 42px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link {
    width: 40px;
    height: 40px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link .icon {
    font-size: 18px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box {
    display: block;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder {
    max-width: 100%;
    margin-bottom: 70px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder:last-child {
    margin-bottom: 0;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form {
    max-width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set input {
    font-size: 13px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets {
    max-width: 100%;
    display: block;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets .form_set {
    max-width: 100%;
  }
}

@media all and (max-width: 419px) {
  .login_signup_box .login_signup_row .login_signup_side {
    height: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_L {
    max-width: 0%;
    width: 100%;
    display: none;
  }
  .login_signup_box .login_signup_row .login_signup_R {
    max-width: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .logo span {
    font-size: 28px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link {
    width: 35px;
    height: 35px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link .icon {
    font-size: 15px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .signup_hint,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_hint {
    font-size: 14px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .signup_hint span,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_hint span {
    margin-left: 0;
    margin-top: 10px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box {
    display: block;
    margin-top: 40px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder h2 {
    font-size: 20px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder:last-child {
    margin-bottom: 0;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form {
    max-width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set label {
    font-size: 13px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set input {
    font-size: 13px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets {
    max-width: 100%;
    display: block;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets .form_set {
    max-width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns {
    max-width: 150px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset {
    padding: 8px;
    padding-top: 7px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit span,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset span {
    font-size: 14px;
  }
}

@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .login_signup_box .login_signup_row .login_signup_side {
    height: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_L {
    max-width: 0%;
    width: 100%;
    display: none;
  }
  .login_signup_box .login_signup_row .login_signup_R {
    max-width: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .logo span {
    font-size: 28px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link {
    width: 35px;
    height: 35px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link .icon {
    font-size: 15px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .signup_hint,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_hint {
    font-size: 14px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .signup_hint span,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_hint span {
    margin-left: 0;
    margin-top: 0px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box {
    display: block;
    margin-top: 40px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder h2 {
    font-size: 20px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder:last-child {
    margin-bottom: 0;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_sets_holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set {
    max-width: 48%;
    width: 100%;
    display: block;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set label {
    font-size: 13px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set input {
    font-size: 13px;
    max-width: 100%;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets .form_set {
    max-width: 48%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns {
    max-width: 150px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset {
    padding: 8px;
    padding-top: 7px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit span,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset span {
    font-size: 14px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .form_sets_holder {
    display: block;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .form_set {
    max-width: 100%;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .password_sets {
    width: 100%;
    max-width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .password_sets .form_set {
    max-width: 48%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .login_signup_box {
    max-width: 90%;
  }
  .login_signup_box .login_signup_row .login_signup_side {
    height: 100vh;
  }
  .login_signup_box .login_signup_row .login_signup_L {
    max-width: 0%;
    width: 100%;
    display: none;
  }
  .login_signup_box .login_signup_row .login_signup_R {
    max-width: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .logo span {
    font-size: 35px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link {
    width: 40px;
    height: 40px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link .icon {
    font-size: 18px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .signup_hint,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_hint {
    font-size: 14px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .signup_hint span,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_hint span {
    margin-left: 0;
    margin-top: 0px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box {
    display: block;
    margin-top: 40px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder {
    max-width: 100%;
    margin-bottom: 60px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder h2 {
    font-size: 24px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder:last-child {
    margin-bottom: 0;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_sets_holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set {
    max-width: 48%;
    width: 100%;
    display: block;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set label {
    font-size: 16px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set input {
    font-size: 15px;
    max-width: 100%;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets .form_set {
    max-width: 48%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns {
    max-width: 170px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset {
    padding: 10px;
    padding-top: 11px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit span,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset span {
    font-size: 15px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .form_sets_holder {
    display: block;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .form_set {
    max-width: 100%;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .password_sets {
    width: 100%;
    max-width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .password_sets .form_set {
    max-width: 48%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .login_signup_box {
    max-width: 90%;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .login_signup_box .login_signup_row .login_signup_side {
    height: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_L {
    max-width: 0%;
    width: 100%;
    display: none;
  }
  .login_signup_box .login_signup_row .login_signup_R {
    max-width: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .logo span {
    font-size: 30px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link {
    width: 35px;
    height: 35px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link .icon {
    font-size: 15px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .signup_hint,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_hint {
    font-size: 14px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .signup_hint span,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_hint span {
    margin-left: 0;
    margin-top: 0px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box {
    display: block;
    margin-top: 40px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder {
    max-width: 100%;
    margin-bottom: 60px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder h2 {
    font-size: 21px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder:last-child {
    margin-bottom: 0;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_sets_holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set {
    max-width: 48%;
    width: 100%;
    display: block;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set label {
    font-size: 14px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set input {
    font-size: 13px;
    max-width: 100%;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets .form_set {
    max-width: 48%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns {
    max-width: 140px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset {
    padding: 7px;
    padding-top: 5px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit span,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset span {
    font-size: 13px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .form_sets_holder {
    display: block;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .form_set {
    max-width: 100%;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .password_sets {
    width: 100%;
    max-width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .password_sets .form_set {
    max-width: 48%;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .login_signup_box {
    max-width: 90%;
  }
  .login_signup_box .login_signup_row .login_signup_side {
    height: 100vh;
  }
  .login_signup_box .login_signup_row .login_signup_L {
    max-width: 0%;
    width: 100%;
    display: none;
  }
  .login_signup_box .login_signup_row .login_signup_R {
    max-width: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    top: -20px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .logo span {
    font-size: 35px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link {
    width: 40px;
    height: 40px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link .icon {
    font-size: 18px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box {
    display: block;
    margin-top: 40px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder {
    max-width: 100%;
    margin-bottom: 60px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder h2 {
    font-size: 24px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder:last-child {
    margin-bottom: 0;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_sets_holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set {
    max-width: 48%;
    width: 100%;
    display: block;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set label {
    font-size: 16px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set input {
    font-size: 15px;
    max-width: 100%;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets .form_set {
    max-width: 48%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns {
    max-width: 170px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset {
    padding: 10px;
    padding-top: 11px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit span,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset span {
    font-size: 15px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .form_sets_holder {
    display: block;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .form_set {
    max-width: 100%;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .password_sets {
    width: 100%;
    max-width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .password_sets .form_set {
    max-width: 48%;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .login_signup_box {
    max-width: 100%;
    padding: 0;
  }
  .login_signup_box .login_signup_row .login_signup_side {
    height: 125vh;
  }
  .login_signup_box .login_signup_row .login_signup_L {
    max-width: 20%;
    width: 100%;
    display: block;
  }
  .login_signup_box .login_signup_row .login_signup_R {
    max-width: 80%;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .logo span {
    font-size: 31px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link {
    width: 40px;
    height: 40px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link .icon {
    font-size: 18px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box {
    display: block;
    margin-top: 20px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder {
    max-width: 95%;
    margin-bottom: 30px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder h2 {
    font-size: 20px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder:last-child {
    margin-bottom: 0;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_sets_holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set {
    max-width: 48%;
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set label {
    font-size: 12px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set input {
    font-size: 13px;
    max-width: 100%;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets .form_set {
    max-width: 48%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns {
    max-width: 145px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset {
    padding: 7px;
    padding-top: 6px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit span,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset span {
    font-size: 13px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .form_sets_holder {
    display: block;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .form_set {
    max-width: 100%;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .password_sets {
    width: 100%;
    max-width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .password_sets .form_set {
    max-width: 48%;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .login_signup_box {
    max-width: 100%;
    padding: 0;
  }
  .login_signup_box .login_signup_row .login_signup_side {
    height: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_L {
    max-width: 20%;
    width: 100%;
    height: 100vh;
    display: block;
  }
  .login_signup_box .login_signup_row .login_signup_R {
    max-width: 80%;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms {
    position: relative;
    top: -20px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .logo span {
    font-size: 35px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link {
    width: 40px;
    height: 40px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_signup_forms_inner_top .index_link .icon {
    font-size: 18px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .signup_hint,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .login_hint {
    max-width: 85%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box {
    display: block;
    margin-top: 20px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder h2 {
    font-size: 21px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder:last-child {
    margin-bottom: 0;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_sets_holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set {
    max-width: 48%;
    width: 100%;
    display: block;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set label {
    font-size: 14px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_set input {
    font-size: 13px;
    max-width: 100%;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .password_sets .form_set {
    max-width: 48%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns {
    max-width: 155px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset {
    padding: 8px;
    padding-top: 7px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .submit span,
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder form .form_btns .reset span {
    font-size: 14px;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .form_sets_holder {
    display: block;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .form_set {
    max-width: 100%;
    width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .password_sets {
    width: 100%;
    max-width: 100%;
  }
  .login_signup_box .login_signup_row .login_signup_R .login_signup_forms .login_signup_forms_inner .forms_box .form_holder .login_form .password_sets .form_set {
    max-width: 48%;
  }
}
/*# sourceMappingURL=User.module.css.map */