// Desktop
.overrides_Index {
  .overrides_Index_Top {
    .slick-slider {
      // White Flash Fix
      .slick-track,
      .slick-list {
        -webkit-perspective: 2000;
        -webkit-backface-visibility: hidden;
      }

      .slick-list {
        .slick-track {
          .slick-slide {
            .index-top-slide {
              .darken-inner {
                opacity: 0;
                visibility: hidden;
                transform: translateY(30px);
                transition: 0.7s ease-in-out;
                transition-delay: 0.4s;
              }
            }
          }

          .slick-active {
            .index-top-slide {
              .darken-inner {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
              }
            }
          }
        }
      }

      .slick-dots {
        position: absolute;
        bottom: 10px;
        z-index: 50;
        right: 0;
        max-width: 250px;

        li {
          margin: 15px;
          button {
            &::before {
              color: white;
              font-size: 30px;
            }
          }
        }
      }
    }
  }
  .overrides_Index_Products {
    .slick-slider {
      .slick-dots {
        position: absolute;
        bottom: -30px;
        z-index: 50;
        left: 50%;
        transform: translateX(-50%);
        max-width: 250px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
          margin: 5px;
          button {
            &::before {
              color: rgb(102, 102, 102);
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

// Responsive
@media all and (max-width: 1995px) {
}

@media all and (max-width: 991px) {
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
  .overrides_Index {
    .overrides_Index_Top {
      .slick-slider {
        .slick-dots {
          position: absolute;
          bottom: 10px;
          z-index: 50;
          left: 50%;
          transform: translateX(-50%);
          max-width: 250px;

          li {
            margin: 10px;
            button {
              &::before {
                color: white;
                font-size: 25px;
              }
            }
          }
        }
      }
    }
  }
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
  .overrides_Index {
    .overrides_Index_Top {
      .slick-slider {
        .slick-dots {
          position: absolute;
          bottom: 0px;
          z-index: 50;
          left: 50%;
          transform: translateX(-50%);
          max-width: 250px;

          li {
            margin: 10px;
            button {
              &::before {
                color: white;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .overrides_Index {
    .overrides_Index_Top {
      .slick-slider {
        .slick-dots {
          position: absolute;
          bottom: 0px;
          z-index: 50;
          left: 50%;
          transform: translateX(-50%);
          max-width: 250px;

          li {
            margin: 10px;
            button {
              &::before {
                color: white;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .overrides_Index {
    .overrides_Index_Top {
      .slick-slider {
        .slick-dots {
          position: absolute;
          bottom: 10px;
          z-index: 50;
          left: 50%;
          transform: translateX(-50%);
          max-width: 250px;

          li {
            margin: 10px;
            button {
              &::before {
                color: white;
                font-size: 25px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .overrides_Index {
    .overrides_Index_Top {
      .slick-slider {
        .slick-dots {
          position: absolute;
          bottom: 0px;
          z-index: 50;
          left: 50%;
          transform: translateX(-50%);
          max-width: 250px;

          li {
            margin: 10px;
            button {
              &::before {
                color: white;
                font-size: 25px;
              }
            }
          }
        }
      }
    }
  }
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .overrides_Index {
    .overrides_Index_Top {
      .slick-slider {
        .slick-dots {
          position: absolute;
          bottom: 10px;
          z-index: 50;
          left: 50%;
          transform: translateX(-50%);
          max-width: 250px;

          li {
            margin: 10px;
            button {
              &::before {
                color: white;
                font-size: 27px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .overrides_Index {
    .overrides_Index_Top {
      .slick-slider {
        .slick-dots {
          position: absolute;
          bottom: 10px;
          z-index: 50;
          left: 50%;
          transform: translateX(-50%);
          max-width: 250px;

          li {
            margin: 10px;
            button {
              &::before {
                color: white;
                font-size: 27px;
              }
            }
          }
        }
      }
    }
  }
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .overrides_Index {
    .overrides_Index_Top {
      .slick-slider {
        .slick-dots {
          position: absolute;
          bottom: 10px;
          z-index: 50;
          right: 0;
          left: auto;
          transform: translateX(0);
          max-width: 250px;

          li {
            margin: 10px;
            button {
              &::before {
                color: white;
                font-size: 27px;
              }
            }
          }
        }
      }
    }
  }
}
